<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Open Zettelkasten Systems | {% block title %}{% endblock %}</title>
        <script type="module" src="./js/main.js"></script>
    </head>
    <body>
        <nav class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 200px;">
            <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none" href="/">
                <img src="./img/sitelogo.png" alt="image of a computer monitor with a closing XML tag on it">
                <span class="fs-4">IDT 554</span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/index.html" aria-current="page">Home</a>
                    <a class="nav-link active" href="/about.html" aria-current="page">About</a>
                    <a class="nav-link active" href="/logseq.html" aria-current="page">Logseq</a>
                    <a class="nav-link active" href="/obsidian.html" aria-current="page">Obsidian</a>
                    <a class="nav-link active" href="/tiddlywiki.html" aria-current="page">TiddlyWiki</a>
                </li>
            </ul>
        </nav>
        <main>
        </main>
        <div class="container py-4 px-3 mx-auto">
            <h1>Hello, Bootstrap and Vite!</h1>
            <button class="btn btn-primary">Primary button</button>
        </div>
    </body>
</html>
